<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
    <!-- 日志文件目录和压缩文件 -->
    <Properties>
        <Property name="fileName">/tmp/logs</Property>
        <Property name="fileGz">/tmp/logs/7z</Property>
    </Properties>
    <Appenders>
        <!--这个输出控制台的配置 -->
        <Console name="console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL" />
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL" />
            <!--输出日志的格式 -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %L %M - %msg%xEx%n" />
        </Console>

        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
        <RollingRandomAccessFile name="rollingInfoFile" fileName="${fileName}/netty-socket.log" immediateFlush="false" 
            filePattern="${fileGz}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.netty-socket.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} [%t] %-5level %logger{36} %L %M - %msg%xEx%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <Filters>
                <!-- 只记录info级别信息 -->
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <!-- 指定每天的最大压缩包个数，默认7个，超过了会覆盖之前的 -->
            <DefaultRolloverStrategy max="50"/>
        </RollingRandomAccessFile>

        
        <RollingRandomAccessFile name="rollingErrorFile" fileName="${fileName}netty-socket-error.log" immediateFlush="false" 
            filePattern="${fileGz}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.netty-socket-error.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} [%t] %-5level %logger{36} %L %M - %msg%xEx%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <Filters>
                <!-- 只记录error级别信息 -->
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <!-- 指定每天的最大压缩包个数，默认7个，超过了会覆盖之前的 -->
            <DefaultRolloverStrategy max="50"/>
        </RollingRandomAccessFile>
        
    </Appenders>
    
    <Loggers>
        <!-- 全局配置，默认所有的Logger都继承此配置 -->
        <AsyncRoot level="debug" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingInfoFile"/>
            <AppenderRef ref="rollingErrorFile"/>
        </AsyncRoot>        
    </Loggers>
</Configuration>